
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>@Model.Title</p>
<a asp-controller="Service" asp-action="Index" class="btn btn-dark">Back</a>

