*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    font-size: 5.5rem;
    position: absolute;
    top: 70px;
    margin-top: 150px;
}
.btnslider{
    width: 200px;
    height: 60px;
}
.navbars{
    background-color: #22395d!important;
    display: flex;
    justify-content: center;
    color: #fff;
}
nav{
    
color: #fff;
    
    
}

.nav-link{
    color: #fff;
}
header{
    background-color: #22395d!important;

    display: flex;
    justify-content: center;
}
.solar{
    background-color: #009cff;
    color: #fff;
    padding: 15px;

   
}
.sliderimg{
    
    filter: brightness(50%);
}

.navbars{
color: #fff;
}