
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>@Model.Desc</p>
<p>@Model.Author</p>
<p>@Model.Name</p>
<a asp-controller="Client" asp-action="Index" class="btn btn-dark">Back</a>
